import Config

# Detectino APIs config
config :detectino_panel, :detectino_api,
  username: "admin@local",
  password: "admin",
  server: "http://your.detectino:8888",
  ws_ep: "ws://your.detectino:8888/socket/websocket"
